.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* //background */
    background-color: #ffffff;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000000;
}
